.card {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
.nombre-personaje {
  color: black;
  font-size: 1.3rem;
}

.nombre-casa {
  color: black;
  font-size: 1.1rem;
}


.cards-conteiner {
  width: 300px;
  height: auto;
  background-color: brown;
  margin: 10px;
  border-radius: 15px;
}

.cards-conteiner img{
  width: 300px;
  border-radius: 15px;
}