.nombre-personaje {
  color: black;
}

.nombre-casa {
  color: black;
}

.card {
  display: grid;
  grid-template-columns: repeat((auto-fill, minmax(1rem, 2 fr)));
}
.cards-conteiner {
  width: 200px;
  height: 150px;
  background-color: brown;
  margin: 10px;
}
